@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:700|Open+Sans:400,700");
/*font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Open Sans', sans-serif;*/
@import "./reset.scss";

$primary: #4A9A57;
$secondary: #B3324C;

html,
body {
    height: 100%;
}

body {
    background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}

#root {
    height: 100%;
    width: 100%;
}

body {
    background-image: url('./images/background/bg-2.png');
    background-size: 794px 875px;
    background-position: -159px -93px;
    background-repeat: no-repeat;
}

@import "./pages/home.scss";

